{% extends "base.html" %}
{% block title %}
Index
{% endblock %}
{% block content %}
<div class="splt lft">
    <h2>Enter bases of location as text</h2>
    <form action="/fnctns" method="post">
        <p>Home location</p>
        <input type="text" name="lctnh" id="lctnh" value="Seattle, WA">
        <p>School location</p>
        <input type="text" name="lctns" id="lctns" value="University District, Seattle">
        <p>Work location</p>
        <input type="text" name="lctnw" id="lctnw" value="Tacoma, WA">
        <p>Other location</p>
        <input type="text" name="lctno" id="lctno" value="">
        <br>
        <input type="submit" id="submit" value="Save">
    </form>
</div>
<div class="splt rht">
    <h2>Coordinates to find routes near locations</h2>
    <form action="/map" method="post">
        <p>Latititude</p>
        <input type="number" step="any" name="lat" id="lat" value="47.608013">
        <p>Longitude</p>
        <input type="number" step="any" name="lon" id="lon" value="-122.335167">
        <br>
        <p><input type="checkbox" name="url" id="url">Show external links</p>
        <input type="submit" id="submit" value="Enter">
    </form>
    <br>
    <h2>Route number to find current trips</h2>
    <form action="/plan" method="post">
        <p>Route ID</p>
        <input type="number" step="any" name="id" id="id" value="590">
        <p>Agency ID</p>
        <input type="number" step="any" name="aid" id="aid" value="40">
        <br><br>
        <input type="submit" id="submit" value="Enter">
    </form>
</div>
{% endblock %}